<h2>Modelos de Produtos</h2>

<div>
    <%= link_to 'Cadastrar Novo', new_product_model_path %>
</div>

<% if @product_models.any? %>

    <% @product_models.each do |pm| %>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= pm.name %></td>
                    <td><%= pm.sku %></td>
                    <td><%= pm.supplier.brand_name %></td>
                </tr>
            </tbody>
        </table>
    <% end %>

<% else %>
    <p>Não existem modelos de produtos cadastrados.</p>
<% end %>