<h2>Cadastro de Modelos de Produtos</h2>

<% if @product_model.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
        <% @product_model.errors.full_messages.each do |msg| %>
        <li><%= msg %>
        <% end %>
    </ul>
<% end %>

<%= render 'form' %>