<h2>Cadastro de galpões</h1>

<% if @warehouse.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
        <% @warehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %>
        <% end %>
    </ul>
<% end %>

<%= render 'form' %> <!-- partial view -->